# Server Network Settings
PORT=8000
AUTH_PORT=8001
DAYZERO_LOG_LEVEL=INFO

# Database URIs
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/dayzero?retryWrites=true&w=majority
POSTGRES_URI=postgresql://your_db_user:your_db_password@localhost:5432/dayzero_db

# AI & LLM Providers
GEMINI_API_KEY=your_gemini_api_key_here
